SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_SIGNING_SECRET=your-signing-secret
SLACK_APP_TOKEN=xapp-your-app-token
PORT=3000

ZUPA_PRODUCTS_API=https://your-zupa-api-base-url
ZUPA_PRODUCTS_TOKEN=your-zupa-bearer-token

OPENAI_API_KEY=sk-proj-CW.........lrptTL0A
